@model WebMonAn.Models.CartModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đơn Hàng</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CartID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CartID)
        </dd>
        <dt class="col-sm-2">
            Tên Khách Hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.UserName)
        </dd>
        <dt class="col-sm-2">
            Địa Chỉ Khách Hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.DiaChi)
        </dd>
        <dt class="col-sm-2">
            SĐT Khách Hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.DienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tongtien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangthaiDonhang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangthaiDonhang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
    <partial name="_CartDetails" for="@Model.cartDetailsModels"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CartID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
